<div style="margin-bottom: 60px;">
  <%= render "form" %>
</div>

<h3>List of available courses</h3>
<div class="row">
  <% @courses.each do |course| %>
    <%= render "course", course: course %>
  <% end %>
</div>
